
    .cards{
        display: flex;
        margin: 2rem;
         justify-content: space-around;
         flex-wrap: wrap;
         width: 50%;
      }
      .card{
        border-radius: 10px !important;
        background-color: #447e605c !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border: 1px black solid !important;
        padding: 30px 10px !important;
        margin:20px;
  
    }
      div.card a:hover{
        transform: scale(1.1);
        transition: 0.2s; 
     }
      div.card a{
        font-size: 25px;
        text-align: center;
        color: rgb(10, 85, 7);
        transition: 0.5s;
        width: 175px;
        
    }
      .card a img{
        border-radius: 300px;
        width: 165px;
      }
  
    #addPet{
      display: none;
      margin: 20px;
    }
    #plus{
      
       border-radius: 10px;
        background-color: #447e605c !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border: 1px black solid !important;
        width:40px;
        height:40px;
    }