body{
    background-image: url(../img/imgHome/bg3-3.jpg);
    background-position: center;
}
.navbar{
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.678);
}
a.nav-link{
    transition: 0.8s;
    color: rgb(45, 206, 80);
}
a.nav-link:hover{ 
        background-color: #1a1b1a73 !important;
        color: white !important;
        border-radius: 10px;
}
.circleImg{
    border-radius: 180px;
    width: 180px;
    border: 2px black solid;
    
}
.topicos{
    text-decoration: none;
    background-color: #8cf0bc5c;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.links a{
    color: black !important;
    transition: 0.5s;
    padding: 10px;
    font-size: clamp(15px,2vw, 40px);
    font-family: 'Lilita One', cursive !important;

}
.links a:hover{
    background-color: #447e60 !important;
    border-color: #000000 !important;
    border-radius: 15px;
    color: white !important;
}

.compromissos{
    width: 50%;
    height: 100%;
    text-align: center;
    background-color:  #8cf0bc5c;
    border-radius: 15px;
    margin: 30px 0px;
    border: 1px solid black;

}
.formRemedioeCuidado{
    padding: 15px;
    background-color:#8cf0bc;
    position: absolute;
    border: 1px solid black;
    border-radius: 15px;
}
.alter{
    display: flex;
    justify-content: center;
    z-index: 3;
    align-items: center;
    position: relative;

}
.botoesAlterEx a{
    text-decoration: none;
    color: #447e60 !important;
}
.botoesAlterEx a:hover{
    color: #254635 !important;

}
@media (min-width:260px) and (max-width:300px){
   .links{
    width: 100%;
   }
    .links a {
    font-size: 12px;
    padding: 0px;
   }
}