body{
    background-image: url(../img/imgHome/bg3-3.jpg);
    background-position: center;
}
.navbar{
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.678);
}
a.nav-link{
    transition: 0.8s;
    color: rgb(45, 206, 80);
}
a.nav-link:hover{ 
        background-color: #1a1b1a73 !important;
        color: white !important;
        border-radius: 10px;
}
.tutorInfo{
    margin-top: 5%;
}
.pets{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.tutorInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tutorTitle{
    text-align: center;
    -webkit-text-stroke-width:0.5px;
    -webkit-text-stroke-color:black;
    font-family: 'Lilita One', cursive !important;
    color: greenyellow;
}
.tutorTitle h1{
    font-size: clamp(28px,3vw, 50px);
}
.tutorTitle h2{
    font-size: clamp(20px,2.5vw, 30px);
}
.circleImg{
    border-radius: 100%;
    width: 180px;
    border: 2px black solid;
}
.agendaTitle{
    background-color:  #447e605c;
    width: 100%;
    padding: 10px;
}
.compromissos{
    width: 50%;
    height: 100%;
    background-color:  #8cf0bc5c;
    border-radius: 15px;
    margin: 30px 0px;
    border: 1px solid black;

}
.my-4 {
     margin-bottom: 0rem!important
}
form{
    display: flex;
    flex-direction: column;
    width: 19rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color:  #447e605c;

}
#select{
    font-size: 30px;

}
@media (max-width:295px) {
    .circleImg{
        width: 100px;
    }
    .tutorTitle h1{
        font-size: 28px;
    }
    .tutorTitle h2{
        font-size: 18px;
    }
    .card a img {
        width: 100px;
        padding: 0px;
    }

}