*{
    border: 0;
    outline: 0;
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
body{
    color:rgb(10, 85, 7);
    background-image: url(../img/imgHome/bg3-3.jpg);
    
}
.navbar{
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.678);
}
a.nav-link{
    transition: 0.8s;
    color: rgb(45, 206, 80);
}
a.nav-link:hover{ 
        background-color: #1a1b1a73 !important;
        color: white !important;
        border-radius: 10px;
}
.page-home{
    display: flex;
    flex-direction: column;
    align-items:center ;
}
header{
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
       background-image: url(../img/imgHome/bg3-2.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
    padding-top: 40px;  
}
.jumbotron{
    width: fit-content;
    color: greenyellow;
  display: flex;

}
.height-jumbotron{
    padding: 1rem;
    height: 100%;
    
}
#imgJumboCont{
    width:50%;
}
main{
    width: 50%;
}
.psContent{
        display: flex;
    align-items: center;
    flex-direction: column;
       font-family: 'Lilita One', cursive !important;
}

@media (min-width:200px) and (max-width:400px) {
    div.container-fluid{
        justify-content:unset !important;
    }
    #imgJumboCont{
        width: 58vw;
    }
    .height-jumbotron{
        padding:0px;
    }
    .card a{
        font-size: 5vw !important;
        align-items: center !important;
        display: flex !important;
        flex-direction: column !important;

    }
    .card a img{
        width: 133px !important;
    }
    
}
@media (min-width:400px) and (max-width:460px) {
    div.container-fluid{
        justify-content:start !important;
    }
    #imgJumboCont{
        width: 45vw;
    } 
    .card a{
        font-size: 5vw !important;
        align-items: center !important;
        display: flex !important;
        flex-direction: column !important;

    }
    .card a img{
        width: 133px !important;

    }
   
}
@media (min-width:461px) {
    div.container-fluid{
        justify-content:space-around !important;
    }
}
@media (min-width:461px) and (max-width:650px) {
    div.container-fluid{
        justify-content:space-around !important;
    }
    #imgJumboCont{
        width: 45vw;
    }
    .card a{
        font-size: 5vw !important;
        align-items: center !important;
        display: flex !important;
        flex-direction: column !important;

    }
    .card a img{
        width: 133px !important;
        font-size: 5vw !important;

    }
}

